[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
python-socketio = "*"
eventlet = "*"
flask = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
